
@{
    ViewBag.Title = "OurLocations";
}

<h2>Our Locations</h2>

<form method="post" action="/LocationCntrls/OurLocations" class="form-group">
<label>LocationName </label>
<input type="text" name="LocNames" class="form-control" /><br />
<input type="submit" value="submit" class="btn btn-danger" />
</form>
