
@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>
<h4>Login to continue.</h4>

<div style="height:50px"></div>
<div>
    <label>Email:</label><br />
    <input type="text" name="email" id="email" value="" required /><br />
    <label>Password:</label><br />
    <input type="password" name="pass" id="pass" value="" required /><br /><br />
    <input type="submit" value="Submit" />
</div>
