

@{
    ViewBag.Title = "Register";
}



<h1>Register</h1>
<h4>Create a new account.</h4>

<div style="height:50px"></div>
<div>
    <label>Email:</label><br />
    <input type="text" name="email" id="email" value="" required /><br />
    <label>Password:</label><br />
    <input type="password" name="pass" id="pass" value="" required /><br />
    <label>Confirm Password:</label><br />
    <input type="password" name="cnf" id="cnf" value="" /><br /><br />
    <input type="submit" value="Submit" />
</div>

